.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0c0c0c;
  height: 90%;
  width: 60%;
  max-width: 725px;
  min-width: 400px;
  border-radius: 1.25%;
  overflow: hidden;
  position: relative;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 1rem;
}

.inputData input {
  outline: none;
  background-color: #251e24;
}

.container {
  max-width: 800px;
  background: #fff;
  width: 800px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container .text {
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  -webkit-background-clip: text;
  background-clip: none;
  -webkit-text-fill-color: transparent;
}

.container form {
  padding: 30px 0 0 0;
}

.formRow {
  display: flex;
  flex-direction: row;
  margin: 32px 0;
}

.formRow .inputData {
  width: 100%;
  height: 40px;
  margin-right: 20px;
  position: relative;
}

.formRow .textarea {
  height: 70px;
}

.inputData input:hover {
  cursor: pointer;
}

.inputData input,
.inputData select,
.textarea textarea {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.inputData label{
  background-color: #251e24;
}

.inputData input:focus ~ label,
.inputData input:valid ~ label,
.inputData select:focus ~ label,
.inputData select:valid ~ label {
  transform: translateY(-30px);
  font-size: 14px;
  background-color: transparent;
  color: #3498db;
}

.textarea textarea {
  resize: none;
  padding-top: 10px;
}

.inputData label {
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.textarea label {
  width: 100%;
  bottom: 40px;
  background: #fff;
}

.underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.inputData .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.inputData input:focus ~ .underline:before,
.inputData input:valid ~ .underline:before,
.inputData select:focus ~ .underline:before,
.inputData select:valid ~ .underline:before {
  transform: scale(1);
}

.submitBtn .inputData {
  overflow: hidden;
  height: 45px!important;
  width: 25%!important;
}

.submitBtn .inputData .inner {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  transition: all 0.4s;
}

.submitBtn .inputData:hover .inner {
  left: 0;
}

.submitBtn .inputData input {
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  z-index: 2;
}

.formContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 1rem;
  transition: transform 0.5s ease-in-out;
}

.forScrolling {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* padding: 1rem; */
  overflow-y: auto;
}

.formInnerWrapper, .formSummary {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  /* height: 100%; */
  padding: 0 1rem;
  /* overflow-y: scroll; */
}

.formSummary {
  height: 100%;
}

.nextBtnContainer {
  display: flex;
  justify-content: space-between;
  background: #0c0c0c;
  width: 100%;
  padding: 0 1rem;
  padding-bottom: 1rem;
  position: absolute;
  bottom: 0;
}

.backBtn {
  background: none;
  padding: 1rem 3rem;
  border: none;
  border-radius: .25rem;
  background-color: #212121;
}

.nextBtn {
  padding: 1rem 3rem;
  border: none;
  border-radius: .25rem;
  background: #3498db;
}

.backBtn:hover, .nextBtn:hover {
  opacity: .75;
}

.progressContainer {
  display: flex;
  width: 100%;
  padding: 1rem;
}

.progressBar {
  display: flex;
  padding: .10rem 0;
  background: #3498db;
  transition: width .5s ease;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.inputData input[type="number"]::-webkit-inner-spin-button,
.inputData input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.summaryContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 80%;
  padding: 1rem 0;
  overflow-y: scroll;
}

.summaryWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.summarySection {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;
}

.summarySection p {
  word-break: break-all;
  overflow: hidden;
  width: 100%; /* Set the desired width */
  position: relative; /* Needed for the absolute positioning of the hover content */
}

.summaryInnerSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: .5rem 0;
}

.sectionTitle {
  font-size: 1.5rem;
  font-weight: 600;
  border-bottom: white 1px solid;
}

@media (max-height: 450px) {
  .page {
    height: 100%;
    width: 100%;
  }

  .tile {
    height: 100%;
    width: 100%;
  }
}


@media (max-width: 850px) {
  .container .text {
    font-size: 30px;
  }

  .formRow {
    flex-direction: column;
    margin: 0;
  }

  .formWrapper {
    padding-top: 0;
  }

  .inputData {
    margin: 1.5rem 0;
  }

  .inputData select option {
    height: 5rem;
  }

  .container form {
    padding: 10px 0 0 0;
  }

  .container form .formRow {
    display: block;
  }

  .tile {
    height: 100%;
    width: 100%;
  }

  .submitBtn .inputData {
    width: 40%!important;
  }

  .summaryContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 60%;
    overflow-y: scroll;
  }

  .nextBtnContainer {
    display: flex;
    justify-content: space-around;
    background: #0c0c0c;
    padding: 0 1rem;
    padding-bottom: 1rem;
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .summarySection {
    margin-bottom: 2rem;
  }

  .forScrolling {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    /* padding: 1rem; */
    overflow-y: scroll;
  }
}
